.ChatInputForm {
    align-self: end;
    display: grid;
    grid-template-columns: 75% auto;
    padding-top: 10px;
    z-index: 100;
}
.ChatInput {
    align-self: self-end;
    border: 1px solid rgb(5, 112, 112);
    font-size: 20px;
    height: 30px;
    width: 96%;
}
.ChatSend {
    background-color: rgb(0, 139, 139);
    border: 1px solid rgb(0, 139, 139, .5);
    color: beige;
}
.ChatSend:active,
.ChatSend:focus,
.ChatSend:hover {
    background-color: rgb(5, 112, 112);
}
