.Sidebar {
    border-right: 1px solid grey;
    box-sizing: border-box;
    overflow: hidden;
}
.SidebarChat {
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px;
    text-align: left;
    transition: all .4s linear;
}
.SidebarChat:not(:last-child) {
    margin-bottom: 8px;
}
.SidebarChatActive, .SidebarChat:hover {
    background-color: rgb(0, 139, 139, .2);
    color: darkslategray;
}
.SidebarChatActive div:first-child {
    font-weight: bold;
}
.SidebarChat div:nth-child(2) {
    font-size: .7rem;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.SidebarChat div:nth-child(2)[read='1'] {
    font-weight: bold;
}
